body {
  background-color: #191919;
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: 'IBM Plex Serif', serif;
  font-style: normal;
  letter-spacing: .005em;
  color: #eee;
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  /* padding: 0% 14% 0% 14%; */
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* z-index: 2; */
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pages a:hover, .social a:hover {
  background-color: #FA295E;
  color: black;
}

.pages a:active, .social a:active {
  background-color: #444;
  color: #191919;
}

.pages a.active, .social a.active {
  background-color: #444;
  color: $191919;
}

.pages {
  font-size: 17px;
}

.carla a {
  font-size: 20px;
  white-space: pre-wrap;
  padding: 0;
}

.social {
  font-size: 22px;
}

.fa {
  padding: 20px;
}

.intro {
  font-size: 70px;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.intro-sub {
  font-size: 30px;
  font-weight: 400;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.container {
  margin-top: 50px;
  padding: 16px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  z-index: -1;
}

.thumbnails img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5px;
}

.thumbnails {
  position: relative;
  text-align: left;
  color: #eeeeee;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 33%;
  background: rgba(25, 25, 25, 0.7);
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 16px;
  border-top-right-radius: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sm-width {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.major-title {
  margin-top: 5%;
}


/* Contact Form */
/* form #contact_form .well .form-horizontal {
  margin-left: auto;
  margin-right: auto;
}

label .col-md-4 .control-label {
  padding-bottom: 5%;
}

#success_message {
  display: none;
}

.form-control {
  width: 90%;
  padding: 10px;
  margin: 0 0 20px;
  font-family: 'IBM Plex Mono', monospace;
} */


/* Spotify */
.spotify {
  color: #379534;
  font-style: italic;
  font-family: 'IBM Plex Serif', serif;
  margin-top: 20%;
}

.spotify-imgs {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.spotify-gif {
  width: 38%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/* .spotify-imgs, .capstone-imgs, .capstone-gif {
  cursor: zoom-in;
} */

.spotify-imgs:hover, .capstone-imgs:hover, .capstone-gif:hover {
  /* filter: drop-shadow(3px 3px 6px #379534); */
  /* filter: hue-rotate(45deg); */
  /* filter: brightness(1.2); */
  filter: blur(1px);
  cursor: zoom-in;
}


/* w3schools modal */
#myImg {
  border-radius: 5px;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  /* width: 100%; */
  max-height: calc((100vh - 10%));
}

/* Caption of Modal Image */
#caption, #caption2, #caption3, #caption3-5, #caption4, #caption5, #caption6 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
/* .modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
} */

/* @keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(2)}
} */

/* The Close Button */
.close, .close2, .close3, .close3-5, .close4, .close5 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #eee;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


/* GRIDS */
.float {
  display: grid;
  flex-flow: row;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50% 50%;
  grid-gap: 4%;
}

.grid {
  display: grid;
  flex-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 10%;
  grid-gap: 1%;
}

.flex {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  text-align: left;
}

.column {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}

.two-columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 1%;
  margin-left: auto;
  margin-right: auto;
}

.three-columns {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 10% 10% 10%;
  grid-column-gap: 2%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  grid-template-columns: 30% 30% 30%;
  max-width: 80%;
  grid-gap: 2%;
  margin-left: auto;
  margin-right: auto;
}

.steps {
  display: grid;
}

.button {
  height: 10%;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	display: flex;
  flex-direction: column;
}

a:link .generalbutton {
  color: white;
  text-decoration: none;
}

a:visited .generalbutton {
  color: lightblue;
  text-decoration: none;
}

a:hover .generalbutton {
  background-color: white;
  color: #379534;
}

a:active .generalbutton {
  background-color: #379534;
  color: white;
  text-decoration: none;
}

.steps p {
  /* text-align: center; */
  padding: 12px 10px;
  border-radius: 5px;
  display: block;
  margin: 2%;
}

.generalbutton {
  background-color: #4d4d4d;
  text-align: left;
}

.headerbutton {
  background-color: #eee;
  color: #191919;
}


/* Tutor Orial */
.tutor {
  color: #DA9F8F;
  font-style: italic;
  font-family: 'IBM Plex Serif', serif;
  margin-top: 20%;
}

.float-tutor {
  display: grid;
  flex-flow: row;
  grid-template-columns: 25% 75%;
  grid-template-rows: 50% 50%;
  grid-gap: 4%;
}

.tutorbutton {
  background-color: #DA9F8F;
  text-align: left;
}

.tutorbutton {
  background-color: #DA9F8F;
  text-align: left;
}

.user1 {
  background-color: #FFB0B0;
  text-align: left;
  font-size: 14px;
  color: #191919;
}

.user2 {
  background-color: #F9FFB0;
  text-align: left;
  font-size: 14px;
  color: #191919;
}

.user3 {
  background-color: #D3B0FF;
  text-align: left;
  font-size: 14px;
  color: #191919;
}

.user4 {
  background-color: #B0FFD9;
  text-align: left;
  font-size: 14px;
  color: #191919;
}

.tutor-imgs {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Capstone */

.capstone {
  color: #FF99FC;
  font-style: italic;
  font-family: 'IBM Plex Serif', serif;
  margin-top: 20%;
  font-weight: 400;
}

.capstone-imgs {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.capstone-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

.capstone-gif {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.capstone-research {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.capstonebutton {
  background-color: #4d4d4d;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: block;
  height: 15%;
	width: 60%;
	border-radius: 10px;
	text-align: center;
  padding: 12px 10px;
}

.capstonetext {
  margin-left: auto;
  margin-right: auto;
	width: 55%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20%;
}

.capstonesticky {
  background-color: #FF99FC;
  color: #191919;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
  height: 15%;
	width: 48%;
	border-radius: 5px;
	text-align: center;
  font-weight: 500;
  font-size: 2em;
  padding: 140px 20px;
}

.two-column-float {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.three-columns-ei {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
}

.columns-ei {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
}

.four-columns-lofi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  justify-content: center;
}

.maudbutton {
  background-color: #BA82E5;
  color: #191919;
}

.sypbutton {
  background-color: #6BA1E5;
  color: #191919;
}

.jananebutton {
  background-color: #C4C4C4;
  color: #191919;
}

#container-proto {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-content: flex-start;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.proto-a {
 grid-column-start: 1;
}

.proto-b {
  grid-column-start: 3;
  margin-top: 80%;
}

.proto-c {
  grid-column-start: 5;
  margin-top: 160%;
}

.proto-d {
  grid-column-start: 7;
  margin-top: 240%;
}

.proto-e {
  grid-column-start: 9;
  margin-top: 320%;
}

.proto-aa {
  grid-column-start: 1;
}

.proto-bb {
  grid-column-start: 4;
  margin-top: 200%;
}

.proto-cc {
  grid-column-start: 7;
  margin-top: 400%;
}

.proto-oo, .proto-ooo {
  grid-column-start: 1;
}

.proto-xx, .proto-xxx {
  grid-column-start: 7;
}

.proto-oo img, .proto-xxx img {
  width: 500%;
}

.proto-xx img, .proto-ooo img {
  width: 450%;
}

.proto {
  align-self: center;
}

.proto-a img, .proto-b img, .proto-c img, .proto-d img, .proto-e img {
  width: 300%;
  border-radius: 5px;
}

.proto-aa img, .proto-bb img, .proto-cc img {
  width: 500%;
  border-radius: 5px;
}

.ei-avatars {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 8%;
}

.mariabutton {
  background-color: #93E396;
  color: #191919;
}

.antoinettebutton {
  background-color: #FFB0B0;
  color: #191919;
}

.jenanbutton {
  background-color: #FFE5B4;
  color: #191919;
}

.nourbutton {
  background-color: #B1D0FF;
  color: #191919;
}

.nadinebutton {
  background-color: #EABFFF;
  color: #191919;
}

.karenbutton {
  background-color: #F3F2F2;
  color: #191919;
}

.capstonestickysm {
  background-color: #FF99FC;
  color: #191919;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: block;
	width: 48%;
	border-radius: 5px;
	text-align: center;
  padding: 60px 40px;
}

.bold {
  font-weight: 600;
  /* color: #FF99FC; */
  color: #191919;
}

/* Footer */
.site-footer {
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 130px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10%;
  text-align: center;
  text-transform: none;
  width: 100%;
  clear: both;
  display: block;
}
